In [4]:
#!pip install influxdb

In [5]:
#!pip install pandas

In [9]:
import pandas as pd

In [11]:
df=pd.read_csv('exportPivot_BUF110I-havi consu ro 2000-2022.csv')

In [13]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Anul', '').str.strip()

In [50]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Salariati', 'Alkalmazottak').str.strip()

In [49]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Someri', 'Munkanélküliek').str.strip()

In [48]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Pensionari', 'Nyugdíjasok').str.strip()

In [52]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Bauturi alcoolice  total (l)', 'Total').str.strip()

In [53]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Vin', 'Bor').str.strip()

In [54]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Bere', 'Sör').str.strip()

In [55]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Tuica si rachiuri naturale', 'Pálinka').str.strip()

In [58]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Rural', 'Vidéki').str.strip()

In [57]:
for column in df.select_dtypes(include='object').columns:
    df[column] = df[column].str.replace('Urban', 'Városi').str.strip()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 6 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   ABF - Principalele produse alimentare ale consumului uman  1056 non-null   object
 1    ABF - Principalele categorii sociale                      1056 non-null   object
 2    Medii de rezidenta                                        1056 non-null   object
 3    Perioade                                                  1056 non-null   object
 4    Unitati de masura                                         1056 non-null   object
 5    Valoare                                                   1056 non-null   float64
dtypes: float64(1), object(5)
memory usage: 49.6+ KB

In [19]:
df[' Perioade'] = pd.to_datetime(df[' Perioade'])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1056 entries, 2001-01-01 to 2022-01-01
Data columns (total 5 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   ABF - Principalele produse alimentare ale consumului uman  1056 non-null   object
 1   ABF - Principalele categorii sociale                       1056 non-null   object
 2   Medii de rezidenta                                         1056 non-null   object
 3   Unitati de masura                                          1056 non-null   object
 4   Valoare                                                    1056 non-null   float64
dtypes: float64(1), object(4)
memory usage: 49.5+ KB

In [37]:
df.columns

Index(['ABF - Principalele produse alimentare ale consumului uman',
       'ABF - Principalele categorii sociale', 'Medii de rezidenta',
       'Unitati de masura', 'Valoare'],
      dtype='object')

In [23]:
df = df.set_index(' Perioade')

In [59]:
df

           Termekek Szocialis_retegek Lakhely Mertekegyseg  Ertek
 Perioade
2001-01-01    Total             Total   Total        Litri  2.159
2002-01-01    Total             Total   Total        Litri  2.137
2003-01-01    Total             Total   Total        Litri  2.231
2004-01-01    Total             Total   Total        Litri  2.101
2005-01-01    Total             Total   Total        Litri  2.056
...             ...               ...     ...          ...    ...
2018-01-01  Pálinka       Nyugdíjasok  Vidéki        Litri  0.377
2019-01-01  Pálinka       Nyugdíjasok  Vidéki        Litri  0.375
2020-01-01  Pálinka       Nyugdíjasok  Vidéki        Litri  0.344
2021-01-01  Pálinka       Nyugdíjasok  Vidéki        Litri  0.357
2022-01-01  Pálinka       Nyugdíjasok  Vidéki        Litri  0.360

[1056 rows x 5 columns]

In [69]:
measurement = 'projekt1'

In [61]:
from influxdb import DataFrameClient

In [62]:
user = 'root'
password = 'root'
host = 'my_influxdb'
port = 8086
dbname = 'projekt'
protocol = 'line'
client = DataFrameClient(host, port, user, password, dbname)

In [67]:
client.query('show databases')

ResultSet({'('databases', None)': [{'name': '_internal'}, {'name': 'base'}, {'name': 'projekt'}]})

In [64]:
client.create_database(dbname)

In [36]:
df.columns = df.columns.str.strip()

In [42]:
df.columns=['Termekek',
       'Szocialis_retegek', 'Lakhely',
       'Mertekegyseg', 'Ertek']

In [70]:
client.write_points(df, measurement, protocol=protocol,
                   field_columns = ['Ertek'],
                   tag_columns = ['Termekek',
       'Szocialis_retegek', 'Lakhely'])

True

In [68]:
df.to_csv('tabla.csv')